<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>

<style>
.alerts-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999; /* Ensure it stays above other content */
    width: 100%;
    max-width: 90%; /* Responsive handling for smaller screens */

}

.alert {
    z-index: 9999;
    margin-bottom: 10px; /* Add space between stacked alerts */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for a subtle shadow effect */
    background-color: white;
}
</style>

    {% if messages %}
        <div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <h1>Admin Dashboard</h1>
    <h2>Users</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}
                <a href="{% url 'transfer_funds_before_deletion' user.id %}">Delete Account</a>
            </li>
        {% endfor %}
    </ul>




</body>
</html>
