<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>

<style>
.alerts-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999; /* Ensure it stays above other content */
    width: 100%;
    max-width: 90%; /* Responsive handling for smaller screens */

}

.alert {
    z-index: 9999;
    margin-bottom: 10px; /* Add space between stacked alerts */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for a subtle shadow effect */
    background-color: white;
}
</style>




    <h1>Enter the Admin Password</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="password" name="password" required>
        <button type="submit">Submit</button>
    </form>
    {% if messages %}
        <div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>
